.mainwrap{
  background-color: #BFBFBF;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 150px 700px;
  align-content: stretch;
  width: 100%;
  height: 100%;
}

.groupname{
  color: #9D63AD;
}
.mainone{
  background-color: #303030;
  color: white;
  font-family: 'Comfortaa';
  padding-left: 10px;
  grid-row: 1;
  grid-column: 1/3;
  vertical-align: middle;
}

input[type=text]{
  width: 15em;
}

.maintwo{
  background-color: #303030;
  color: red;
  font-family: 'Raleway';
  grid-row: 2;
  grid-column: 1;
}

.mainthree{
  background-color: #303030;
  color: white;
  font-family: 'Raleway';
  padding-left: 10px;
  grid-row: 2;
  grid-column: 2;
}

.eventcreation{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px 75px;
  width: 100%;
  height: 150px;
  color: red;
  align-content: center;
}

/*Event Month Styling*/
.event_month{
  grid-row: 1;
  grid-column: 1;
}
.event_month button{
  display: inline-block;
  background-color: black;
  border: none;
  color: white;
  width: 8.33%;
  height: 50%;
}
.event_month button:hover{
  background-color: white;
  color: black;
}
.event_month button:active{
  background-color: red;
}

/*Event Date Styling*/
.event_date{
  grid-row: 2;
  grid-column: 1;
}
.event_date button{
  display: inline-block;
  background-color: black;
  border: none;
  color: white;
  width: 3.2258%;
  height: 50%;
}
.event_date button:hover{
  background-color: white;
  color: black;
}


.side_menu{
  display: block;
  color:white;
  background-color: black;
  border: none;
  width: 100%;
  height: 5%;
}

.side_menu:hover{
  color:black;
  background-color: white;
}

.time_button{
  background-color: inherit;
  color:white;
  border: 1px solid;
  border-radius: 5px;
  line-height: 1;
  margin: 0.2em;
  padding: 5px;
}
.time_button:focus{
  color:black;
  background-color: #80C468;
}
#time_select_12{
  color: #B65252;
  background-color: inherit;
  border: 1px solid #B65252;
  border-radius: 5px;
  margin: 0.2em;
  padding: 0.5em;

}
#time_select_12:hover{
  background-color: #B65252;
  color: #303030;
}
#time_select_24:hover{
  background-color: #80C468;
  color: #303030;
}

#time_select_24{
  color: #80C468;
  background-color: inherit;
  border: 1px solid #80C468;
  border-radius: 5px;
  margin: 0.2em;
  padding: 0.5em;

}
#submit_button{
  background-color: #303030;
  border: 2px solid white;
  border-radius: 7px;
  width: 10%;
  padding: 0.5em;
  color: white;
}

.time_button:hover{
  background-color: white;
  color: #303030;
  box-shadow: inset 0 0 0 2em var(--hover);

}
